* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pictures {
    margin: 40px auto 0;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.picture {
    object-fit: cover;
    width: 300px;
    height: 150px;
}

img {
    width: 300px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px 2px black;
    cursor: pointer;
}

img:hover {
    scale: 1.2;
}

body {
    background-color: bisque;
    color: darkcyan;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
}

h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 20px;
}

span {
    color: red;
}