* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #212121;
    width: 100%;
}

.pictures {
    margin-top: 40px;
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.picture {
    object-fit: cover;
    width: 300px;
    height: 150px;
    margin: 20px;
}

img {
    width: 300px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px 2px white;
    cursor: pointer;
}

img:hover {
    scale: 1.2;
}

